* {
  padding: 0px;
  margin: 0px; 
  box-sizing: border-box;
}

body {
  background-image: url("https://th.bing.com/th/id/R.d3daeb31f13c2a2ac940888d5115a217?rik=A%2fMFUm%2fjR0jj2Q&pid=ImgRaw&r=0");
  background-position: center center;      /* achtergrond foto wordt niet herhaald, en is in het midden */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}




.head {
  width: 400px; 
  border: 2px solid #a6a6a6;
  background: pink;
  margin: 0px;       
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 0px;
  color: #333;
}

.buttons {
  width: 400px;
  text-align: center;
}

.ScoreButton {
  float: right;
  height: 30px;
  width: 33.3%;
  font-size: 12px;
  display: inline-block;
  padding:0.46em 1.6em;
  border:0.1em solid #000000;
  margin: 0px;
  border-radius:0.12em;
  box-sizing: border-box;
  font-weight:300;
  color:#000000;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  background-color:#0ba82a;
  transition: all 0.15s;
}

.ScoreButton:hover{
  text-shadow: 0 0 2em rgba(255,255,255,1);
  color:#FFFFFF;
  border-color:#FFFFFF;
}

.ButtonResetGame {
  height: 30px;
  width: 33.3%;
  font-size: 12px;
  display:inline-block;
  padding:0.46em 1.6em;
  border:0.1em solid #000000;
  margin:0px;
  border-radius:0.12em;
  box-sizing: border-box;
  font-weight:300;
  color:#000000;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  background-color:#ff2424;
  text-align:center;
  transition: all 0.15s;
}

.ButtonResetGame:hover{
  text-shadow: 0 0 2em rgba(255,255,255,1);
  color:#FFFFFF;
  border-color:#FFFFFF;
}


.BackgroundButton { 
  float: left;
  width: 33.3%;
  height: 30px;
  font-size: 12px;
  display:inline-block;
  padding:0.46em 1.6em;
  border:0.1em solid #000000;
  margin:0px;
  border-radius:0.12em;
  box-sizing: border-box;
  font-weight:300;
  color:#000000;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  background-color:#3874ff;
  text-align:center;
  transition: all 0.15s;
}

.BackgroundButton:hover{
  text-shadow: 0 0 2em rgba(255,255,255,1);
  color:#FFFFFF;
  border-color:#FFFFFF;
}


.container {
  display: grid;
  place-items: center;
  min-height: 100vh; 
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  margin-top: 20px;
  margin-bottom: 40px;
}


.card {
  height: 120px;
  width: 100px;
  background-color: #ff5cbb;
  border-radius: 10px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.3s all ease;
}


.card:hover {
  transform: scale(1.10);
} 


.card img {
  width: 85px;
  height: 100px;
  opacity: 0;
  transition: 0.3s all ease;
  -webkit-user-drag: none;
  -khtml-user-drag: none;              /* zorgt dat je de image niet kan slepen, want het is opacity niet visability */
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}



.card.clicked {
  background-color: orange;
/*   pointer-events: none; */
}
                                    /*kaarten met de class clicked zijn oranje, met de class checked licht groen */
.card.checked {
  background-color: lightgreen;
  visibility: hidden;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.card.clicked img,
.card.checked img {
  opacity: 1;                        /* laat de foto zien als het geklikt is of gecheckt */
}

.card.red {
  background-color: #f15f5f;      /*als het fout is wordt het rood */
}



.ScorePlayerOne {
  float: left;
  height: 450px;
  width: 25%;
  margin-top: 15%;
  margin-left: 3%;
  border-style: solid;
  border-width: 10px;
  color: blue;
  background-color: grey;
}                                      /* borden is rood/blauw en dik met solid, blauw is aan de linkerkant met float left en rood rechts */


.ScorePlayerTwo {
  float: right;
  height: 450px;
  width: 25%;
  margin-top: 15%;
  margin-right: 3%;
  border-style: solid;      
  border-width: 10px;
  color: red;
  background-color: grey;
}

h1 {
  line-height: 200px;
  margin-top: -100px;
  position: relative;      /* Tekst in het midden, en boven. Tekst is wit. */
  text-align: center;
  top: 10%;
  width: 100%;
  color: white;
}

.score1 {
  margin-top: 10px;
  color: white;          /*  maakt de tekst wit, 10px tussen de top en de div met id=score, tekst is in het midden */
  text-align: center;
  font-size: 250px;
}

.score2 {
  margin-top: 10px;
  color: white;          
  text-align: center;
  font-size: 250px;
}


.ResetGame {
  float: center;
}

#winScreen {
	width: 100%;
	height: 129vh;
	position: absolute;
	top: 0;
	transition: background .4s;
	overflow-y: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}




#winScreen p {
	color: white;
	font-size: 60px;
	transform: translateY(-70vh);
	user-select: none;
	text-shadow: 2px 2px 0 black;
	animation: textDrop 2s;
}


@media screen and (max-width: 480px) {

  h2 {
  
  }
  
  .card {
  height: 40px;
  width: 30px;
  background-color: #ff5cbb;
  border-radius: 10px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.3s all ease;   
  } 
  
  .card img {
  width: 25px;
  Height: 30px;
  }
  
  .ScorePlayerTwo {
  position: fixed;
  height: 200px;
  width: 25%;
  margin-bottom: 1px;
  margin-right: 1px;
  right: 0px;
  bottom: 0px;
  border-style: solid;      
  border-width: 10px;
  color: red;
  background-color: grey;
  }
  
  .ScorePlayerOne {
  position: fixed;
  height: 200px;
  width: 25%;
  margin-bottom: 1px;
  margin-left: 1px;
  bottom: 0;
  border-style: solid;      
  border-width: 10px;
  color: blue;
  background-color: grey;
  
  }
  

  .head {
  width: 150px; 
  border: 2px solid #a6a6a6;
  background: pink;
  margin: 0px;       
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  color: #333;
  position: fixed;
  }

  h1 {
  line-height: 200px;
  margin-top: -100px;
  position: relative;      
  text-align: center;
  top: 10%;
  width: 100%;
  font-size: 10px;
  color: #ffffff;
  }

  .score1 {
  margin-top: 10px;
  color: white;          
  text-align: center;
  font-size: 100px;
  }

  .score2 {
  margin-top: 10px;
  color: white;          
  text-align: center;
  font-size: 100px;
  }
}










@keyframes textDrop {
	0% {
		transform: translateY(-70vh);
	}
	10% {
		transform: translateY(-12vh);
	}
	90% {
		transform: translateY(12vh);
	}
	100% {
		transform: translateY(110vh);
	}
}